

# Practical_1: Variables and Assignments

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1

In [1]:
x=10
x

10



---

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```

In [2]:
is_valid=True
is_valid

True

---

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```

---

In [3]:
name="Python Programming"
type(name)

str

**Exercise 4:**
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```

---

In [6]:
sum_result = 5+3
print(sum_result)

8

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```

---

In [5]:
a,b,c=5,10,15
print(a,b,c)

5 10 15

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```

---

In [9]:
x=4
y=x
print(y)

4

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```

---

In [11]:
gravity=9.8
gravity
type(gravity)

float

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```

---

In [13]:
country="RWANDA"
print(country)
type(country)

RWANDA

str

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```

---

In [14]:
age=25
age=age +1
print(age)

26

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

---

In [15]:
x=20-7
x

13

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```

---

In [19]:
a=4
b=4.8
print(a)
print(b)
print(type(a))
print(type(b))

4
4.8
<class 'int'>
<class 'float'>

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

---

In [20]:
is_completed=False
is_completed

False

### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

---

In [22]:
x=2
y=3
x,y=y,x
print(x,y)

3 2

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```

---

In [43]:
complex_num=3+4j
type(complex_num)
complex_num.real
complex_num.imag
complex_num.conjugate

### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

---

In [27]:
age=23
age=str(age)
print(age)
type(age)

23

str

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

---

In [28]:
first_name=input("Enter the first name:")
last_name=input("Enter the last name:")
print(first_name)
print(last_name)

Enter the first name: LILLIAN
Enter the last name: MUTESI

LILLIAN
MUTESI

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

---

In [29]:
temperature= 35.5
type(temperature)

float

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```

---

In [30]:
product=8*6
print(product)

48

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```

---

In [31]:
sentence="favor"
type(sentence)

str

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

---

In [32]:

str_value = '50'
int_value = int(str_value)

print(int_value)      
print(type(int_value))

50
<class 'int'>

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

---

In [34]:
quotient=144/12
print(quotient)
type(quotient)

12.0

float

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```

---

In [35]:

remainder = 47 % 5

print(remainder)

2

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

---

In [37]:
is_student= True
print(is_student)
type(is_student)

True

bool

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

---

In [44]:
modulo=45 % 4
print(modulo)

1

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

---

In [45]:
pi=3.14159
type(pi)

float

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

---

In [48]:
length=3
width=4
area=length*width
print("Length:", length)
print("Width:", width)
print("Area of rectangle:", area)

Length: 3
Width: 4
Area of rectangle: 12

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

---

In [49]:
negative_value= -34
type(negative_value)

int

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```

---

In [50]:
greeting="Hello,World"
print(greeting)

Hello,World

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```

---

In [51]:
population=10000000000000000000000000000000000000000000000
print(population)

10000000000000000000000000000000000000000000000

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30
```

---

In [54]:
x=2**8
print(x)

256

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```

---

In [56]:

fruits = ["apple", "banana", "mango", "orange"]

print(fruits)      
print(type(fruits))

['apple', 'banana', 'mango', 'orange']
<class 'list'>

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```

---

In [55]:

coordinates = (10, 20, 30)

print(coordinates)        
print(type(coordinates))

(10, 20, 30)
<class 'tuple'>

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

---

In [57]:

person = {
    "name": "Alice",
    "age": 25
}

print(person)       
print(type(person))

{'name': 'Alice', 'age': 25}
<class 'dict'>

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

---

In [1]:
x=2.5
y=8.9
print(x+y)

11.4

In [4]:
x=2
y=3
print("x=",x)
print("y=",y)
print("x+y=",x+y)

x= 2
y= 3
x+y= 5

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```

---

In [5]:
is_sunny=10>5
print(is_sunny)

True

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```

---

In [6]:
my_string="age"
my_integer=24
print(my_string,my_integer)

age 24

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```

---

In [8]:
y=4
y=y>0
print(y>0)

True

In [10]:
x = 11      
print( type(x))   

x = True  
print(type(x))

<class 'int'>
<class 'bool'>

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```

---

In [12]:
is_weekend = False
print(is_weekend)
print(type(is_weekend))

False
<class 'bool'>

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```

---

In [22]:
description="""i am hungery

helo world
i read the book 
have u had about the news
UCI is happenning in Rwanda
Rwanda  is capable to hold the UCI championship
"""
print(description)
print(type(description))

i am hungery

helo world
i read the book
have u had about the news
UCI is happenning in Rwanda
Rwanda  is capable to hold the UCI championship

<class 'str'>

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40
```

---

In [30]:


absolute_variable= abs(-25)
print(absolute_variable)


number = -25
absolute_value = abs(number)

print(absolute_value)     
print(type(absolute_value))

25
25
<class 'int'>

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

---

In [31]:
floor_div_result=100//6
print(floor_div_result)

16

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

---

In [34]:
x=3.4
y=4
mixed_sum=x+y
print(mixed_sum)
print(type(mixed_sum))

7.4
<class 'float'>

### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 43
```

---

In [39]:
a=10
b=15
comparison= a>b
print(comparison)

False

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 44
```

---

In [55]:
sentence=" A friend in need is a friend indeed"
print(len(sentence))

36

### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 45
```

---

In [52]:
division_result=7/3
print(division_result)

2.3333333333333335

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 46
```

---

In [54]:
speed = 100  
print("Speed:", speed, "km/hr")
print(type(speed))

Speed: 100 km/hr
<class 'int'>

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 47
```

---

In [59]:
x=4
y=3*x+5
print(y)

17

### Exercise 48:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 48
```

****

In [61]:
x=3
y=4
z=5
average=( 3+4+5)/3
print(average)

4.0